{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "WS_CLOUD",
    "contact": {
      "name": "BYM YAZILIM A.Ş.",
      "url": "http://www.bymyazilim.com.tr",
      "email": "info@bymyazilim.com.tr"
    },
    "version": "1.2.29 Build 355"
  },
  "host": "mobway.api.bym.gen.tr",
  "schemes": [
    "https"
  ],
  "paths": {
    "/test/econ": {
      "get": {
        "tags": [
          "ADeneme"
        ],
        "operationId": "ADeneme_test",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/aktarim/SatisYap": {
      "post": {
        "tags": [
          "aktarim"
        ],
        "operationId": "aktarim_SatisYap",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "satis",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SatisYap"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/aktarim/adisyonVeriAl": {
      "post": {
        "tags": [
          "aktarim"
        ],
        "operationId": "aktarim_Adisyon",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "kullanici",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/aktarim/adisyonVeriAlP": {
      "post": {
        "tags": [
          "aktarim"
        ],
        "operationId": "aktarim_AdisyonP",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "kullanici",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/aktarim/AdisyonVeriSize": {
      "post": {
        "tags": [
          "aktarim"
        ],
        "operationId": "aktarim_AdisyonVeriSize",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfAktarimRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/aktarim/Bhsf_Satir_Kaydet": {
      "post": {
        "tags": [
          "aktarim"
        ],
        "operationId": "aktarim_Bhsf_Satir_Kaydet",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "satis",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SatisYap"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/aktarim/fiyatdegisim": {
      "post": {
        "tags": [
          "aktarim"
        ],
        "operationId": "aktarim_FiyatDegisim",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/apikey/create": {
      "post": {
        "tags": [
          "ApiKey"
        ],
        "operationId": "ApiKey_anahtarkayıt",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfAnahtarSetModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/kontrol": {
      "get": {
        "tags": [
          "ApiKontrol"
        ],
        "operationId": "ApiKontrol_Kontrol",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/Init": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_Init",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SubeHizmetAlaniGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SubeHizmetAlaniGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/Uye": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_Uye",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AnaMenuGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AnaMenuGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/StokGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_StokGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/GrupGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_GrupGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/GrupUrunListGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_GrupUrunListGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/Adres": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_Adres",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AdresGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AdresGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AdresEkle": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AdresEkle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AdresGuncelle": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AdresGuncelle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/sepetKontrolEt": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_sepetKontrolEt",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SiparisEkle": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SiparisEkle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SiparisIlkSayfa": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SiparisIlkSayfa",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/StokDetay": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_StokDetay",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SiparisDetay": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SiparisDetay",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SiparisDeneyimlendir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SiparisDeneyimlendir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SiparisIptal": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SiparisIptal",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SiparisListe": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SiparisListe",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SepetTamamlaInit": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SepetTamamlaInit",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/CalismaSaatleri": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_CalismaSaatleri",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SubeBilgileriGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SubeBilgileriGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AramaYap": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AramaYap",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SepetGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SepetGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SepetEkle": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SepetEkle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SepetSil": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SepetSil",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SepetDurumGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SepetDurumGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SepetGuncelle": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SepetGuncelle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/GsmKodGonder": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_GsmKodGonder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/GirisYap": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_GirisYap",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/GirisYap_W": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_GirisYap_W",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/UyeOl": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_UyeOl",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/UyeOl_W": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_UyeOl_W",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/UyeGuncelle_W": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_UyeGuncelle_W",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AktivasyonKodGonder": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AktivasyonKodGonder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SifreYenile": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SifreYenile",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/SubeKoordinatGetir": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_SubeKoordinatGetir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/AktivasyonKodDogrula": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_AktivasyonKodDogrula",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/UyeEkstre": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_UyeEkstre",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CariEkstreRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/b2c/UyeEkstreDetay": {
      "post": {
        "tags": [
          "b2c"
        ],
        "operationId": "b2c_UyeEkstreDetay",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "gelen",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CariEkstreDetayRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bayi/GirisYap": {
      "post": {
        "tags": [
          "bayi"
        ],
        "operationId": "bayi_girisYap",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "bayi",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BayiGirisReguest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bildirim/MesajGoster": {
      "get": {
        "tags": [
          "bildirim"
        ],
        "operationId": "bildirim_MesajGoster",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfMesajGoster"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/gibuser": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetGibUser",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfgibUserListRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/faturagonder": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_sendinvoice",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFaturaGonderRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/mustahsilyolla": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_sendmustahsil",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFaturaGonderRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/irsaliyegonder": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_sendDespatch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSendDespatchClientRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/flagyolla": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_sendflag",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSendDocumentFlag"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/getfatls": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_getfatlist",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayGenelRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/getfatlsuid": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_getfatlist2",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentListGUIDRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/faturacevap": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_faturacevap",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolaySendApplicationResponseRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/faturagoruntu": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_faturagoruntu",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentFile"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/faturaiptal": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_CancelDocument",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayCancelDocumentRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/entegratorkayit": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_SetTakenFromEntegrator",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSetTakenFromEntegrator"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/kalankontur": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_KalanKontorSorgula",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKalanKonturSorgulaRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/konturyukle": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_KontorYukle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKontorYukleRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/bakiyesorgula": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetCustomerCreditCountRequest",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayGetCustomerCreditCountRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/birimlerial": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetCustomerCreditCountRequest2",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/gibuserQuery": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GibuserQuery",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfgibUserQueryRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/xsltliste": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetXsltList",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayGenelRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/sonbelgeno": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetLastDocumentNumber",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayLastDocumentNumberRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/irsaliyecevap": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_sendDocumentResponse",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolaysendDocumentResponseRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/irsaliyecevapmodel": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_sendInvoiceRed",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayIrsaliyeCevapRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/prefixliste": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetPrefixCodeList",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayGenelRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/raporgetir": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_GetRapor",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayRaporRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/turmobsorgu": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_TurmobQueryUser",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayTurmobRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/eloginkontrol": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_ELoginKontrol",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/bymkolay/tekrargonder": {
      "post": {
        "tags": [
          "BymKolay"
        ],
        "operationId": "BymKolay_reSendDocument",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKolayReSendDocumentRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/cari/get": {
      "post": {
        "tags": [
          "Cari"
        ],
        "operationId": "Cari_getCari",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfListOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/cari/getcariInfo": {
      "post": {
        "tags": [
          "Cari"
        ],
        "operationId": "Cari_CaiInfo",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/cari/getdevir": {
      "post": {
        "tags": [
          "Cari"
        ],
        "operationId": "Cari_getDevir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfgetDevirModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/cari/gethareket": {
      "post": {
        "tags": [
          "Cari"
        ],
        "operationId": "Cari_getDevir2",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfgetHareket"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/database/DbOlustur": {
      "post": {
        "tags": [
          "database"
        ],
        "operationId": "database_DbOlustur",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "dataBase",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataBase"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/database/TabloOlustur": {
      "post": {
        "tags": [
          "database"
        ],
        "operationId": "database_TabloOlustur",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "dataBase",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DbTablo"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/database/AlterOlustur": {
      "post": {
        "tags": [
          "database"
        ],
        "operationId": "database_AlterOlustur",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "alterRequestModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlterRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/Databases/information": {
      "post": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_DbInformation",
        "parameters": [
          {
            "type": "integer",
            "name": "sifre",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/Databases/test": {
      "post": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_DbTest",
        "parameters": [
          {
            "type": "integer",
            "name": "sifre",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "database",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "update",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/depoKurye/depoKuryeLogin": {
      "post": {
        "tags": [
          "depoKurye"
        ],
        "operationId": "depoKurye_login",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "kullaniciBilgileri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/gibuser": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_GetGibUser",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfgibUserListRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/faturagonder": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_sendinvoice",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFaturaGonderRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/mustahsilyolla": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_sendmustahsil",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFaturaGonderRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/irsaliyegonder": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_sendDespatch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSendDespatchClientRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/flagyolla": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_sendflag",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSendDocumentFlag"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/getfatls": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_getfatlist",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentListRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/getfatlsuid": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_getfatlist2",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentListGUIDRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/faturacevap": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_faturacevap",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSendApplicationResponseRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/faturagoruntu": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_faturagoruntu",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentFile"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/faturaiptal": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_CancelDocument",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfCancelDocumentRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/entegratorkayit": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_SetTakenFromEntegrator",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfSetTakenFromEntegrator"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/kalankontur": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_KalanKontorSorgula",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKalanKonturSorgulaRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/konturyukle": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_KontorYukle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfKontorYukleRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/bakiyesorgula": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_GetCustomerCreditCountRequest",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetCustomerCreditCountRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/birimlerial": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_GetCustomerCreditCountRequest2",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/econnect/gibuserQuery": {
      "post": {
        "tags": [
          "Econnect"
        ],
        "operationId": "Econnect_GibuserQuery",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfgibUserQueryRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/efirma/getefirma": {
      "get": {
        "tags": [
          "Efirma"
        ],
        "operationId": "Efirma_getEntegrator",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/efirma/getfattur": {
      "get": {
        "tags": [
          "Efirma"
        ],
        "operationId": "Efirma_getfattur",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/efirma/getlokasyon": {
      "post": {
        "tags": [
          "Efirma"
        ],
        "operationId": "Efirma_getlokasyon",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/emir/kaydet": {
      "post": {
        "tags": [
          "Emir"
        ],
        "operationId": "Emir_EmirEKle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfEmirServiceBaseModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/emir/getir": {
      "post": {
        "tags": [
          "Emir"
        ],
        "operationId": "Emir_getEmir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetEmirModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/emir/sil": {
      "post": {
        "tags": [
          "Emir"
        ],
        "operationId": "Emir_deleteEmir",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfEmirIptalModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/emir/guncelle": {
      "post": {
        "tags": [
          "Emir"
        ],
        "operationId": "Emir_emirGuncelle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfEmirServiceBaseModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/fotograf/kopyala/{id}": {
      "post": {
        "tags": [
          "Fotograf"
        ],
        "operationId": "Fotograf_FotografKopyala",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFotoKopyalaModel"
            },
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/fotograf/onizleboyut/{id}": {
      "post": {
        "tags": [
          "Fotograf"
        ],
        "operationId": "Fotograf_FotografKopyala2",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFotoSizeModel"
            },
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "default": 0,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/fotograf/varlikkontrol": {
      "post": {
        "tags": [
          "Fotograf"
        ],
        "operationId": "Fotograf_fotoVarlikKontrol",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfFotoVarlikKontrolRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/fotograf/fotoekle": {
      "post": {
        "tags": [
          "Fotograf"
        ],
        "operationId": "Fotograf_fotoYukle",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfListOfFotoListRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/fotograf/fotosil": {
      "post": {
        "tags": [
          "Fotograf"
        ],
        "operationId": "Fotograf_fotoSil",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfListOfFotoListRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/login": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_giris",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/logout": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_cikis",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/efaturauser": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_efaturauserget",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KullaniciBilgileri"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/efaturagetir": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_getinvoice",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetinvoiceModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/efaturasatirgetir": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_getinvoiceLine",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetinvoiceModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/eirsaliyegetir": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_getdespatch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetinvoiceModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/earsivgetir": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_getEArsiv",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetinvoiceModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/faturagoruntu": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_invoicePreview",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentFile"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/irsaliyegoruntu": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_despatchPreview",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentFile"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/earsivgoruntu": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_receiptPreview",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfGetDocumentFile"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/efaturaflag": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_setInvoiceFlag",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/eirsaliyeflag": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_setDespatchFlag",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/ice/earsivflag": {
      "post": {
        "tags": [
          "IceTeknoloji"
        ],
        "operationId": "IceTeknoloji_setReceiptFlag",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfString"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/kodmatik/KodUret": {
      "post": {
        "tags": [
          "kodmatik"
        ],
        "operationId": "kodmatik_KodUret",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "kod",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericRequestOfInteger"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/kodmatik/KodListele": {
      "get": {
        "tags": [
          "kodmatik"
        ],
        "operationId": "kodmatik_KodListele",
        "parameters": [
          {
            "type": "string",
            "name": "version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "project",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "token",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "eposta",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "userId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/kodmatik/Init": {
      "get": {
        "tags": [
          "kodmatik"
        ],
        "operationId": "kodmatik_Init",
        "parameters": [
          {
            "type": "string",
            "name": "version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "project",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "token",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "eposta",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "userId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/kodmatik/KodSorgula": {
      "get": {
        "tags": [
          "kodmatik"
        ],
        "operationId": "kodmatik_KodSorgula",
        "parameters": [
          {
            "type": "string",
            "name": "version",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "project",
[...]
